<header class="site-header">
  <div class="container site-header__inner">
    <a class="site-brand" href="{{ '/' | relative_url }}" aria-label="{{ site.title }} home">
      <img
        class="site-brand__logo"
        src="{{ '/images/thisninja_name.png' | relative_url }}"
        alt="this.ninja logo"
        width="225"
        height="75"
      >
      <span class="site-brand__lockup">
        <span class="site-brand__eyebrow">THIS NINJA LLC</span>
        <span class="site-brand__text">{{ site.title }}</span>
      </span>
    </a>
  </div>
</header>
